.navbar {
    //background: #111;
    color: #fff;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    a {
        color: #fff;
        text-decoration: none;
    }
}

.inner {
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    span {
        //font-family: "Inter";
        font-weight: 800;
    }
}

.items {
    background: red;
}