.navbar {
    //background: #111;
    color: #fff;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    a {
        color: #fff;
        text-decoration: none;
    }
}

.inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    span {
        //font-family: "Inter";
        font-weight: 800;
    }
}

.items {
    display: flex;

    .item a {
        padding: 0 12px;
        opacity: .8;
        transition:cubic-bezier(0.19, 1, 0.22, 1) 250ms opacity;

        &:hover {
            opacity: 1;
            text-decoration: underline;
        }
    }
}